# Options for Scarlet server

[xmlparser]
schema.http://www.w3.org/XML/1998/namespace   = xml.xsd
schema.urn:ietf:params:xml:ns:xcap-error      = xcap-error.xsd
schema.urn:ietf:params:xml:ns:xcap-caps       = xcap-caps.xsd
schema.urn:oma:xml:xdm:xcap-directory         = xcap-directory.xsd
schema.urn:ietf:params:xml:ns:resource-lists  = resource-lists.xsd
schema.urn:ietf:params:xml:ns:rls-services    = rls-services.xsd
schema.urn:ietf:params:xml:ns:common-policy   = common-policy.xsd
schema.urn:ietf:params:xml:ns:pres-rules      = presence-rules.xsd
schema.urn:ietf:params:xml:ns:pidf            = pidf.xsd
schema.urn:ietf:params:xml:ns:pidf:data-model = pidf-data-mode.xsd
schema.http://openxcap.org/ns/watchers        = openxcap-watchers.xsd

[database]
table-xml   = xcaptree
table-users = xcapusers
